/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #0F0F0F;
  color: #808080;
 }
h1 {
  color: #B18840;
}

.well {
  background: rgba(15, 15, 15, 0.8);
  border: 0px;
}

.right {
	position: absolute;
    right: 0px;
    width: 70%;
}

.versa-quotes {
  width: auto;
  text-align: right;
  padding-right: 5%;
}

.cont {
  z-index: 10;
  position: relative;
  background-color: #151515;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.cont-up {
  height: 250px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.cont-mid {
  height: 250px;
  background-color: transparent;
}

.cont-top-separate {
  margin-top: 10%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-logo {
  height: 40px;
}

.header {
  position: fixed;
  background: #000 url("../img/deus3-gora.jpg") no-repeat  center center;
  width: 100%;
  height: 500px;
  background-size: cover;
  overflow: hidden;
  z-index: -10;
}

.well-footer {
  padding: 10px;
  background-color: #0F0F0F;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
cursor:default;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.hovereffect:hover {
outline: 1px solid #B18840;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #808080;
  color: #808080;
  background-color: #808080;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #B18840;
}

/*.featurette img {
  outline: #fff solid 10px;
}*/

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
  h1 {
	font-size: 26px;
  }
  
  .navbar-logo {
	height: 30px;
  }
  
  .versa-quotes {
  padding-left: 5%;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
